venv/
__pycache__/
.env
*.pyc
# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
crash.log
.terraform.lock.hcl

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Private Keys
*.pem
*.ppk

# Specifically ignore Jenkins key
backend/terraform/Jenkins.pem
backend/terraform/jenkins.pem