[defaults]

inventory = inventory/hosts.ini

host_key_checking = False

remote_user = ubuntu

private_key_file = C:/Users/Pranav/Documents/GitHub/CloudVault/backend/terraform/jenkey.pem

retry_files_enabled = False

deprecation_warnings = False